@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.link {
		@apply cursor-pointer hover:underline;
	}

	.button {
		@apply p-2 text-xs border border-yellow-300 rounded-sm cursor-pointer md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
	}
}
